.my-bg-grey{
    background-color: #E5E5E5;
}

.my-side-color{
    background-color: #0B1D32;
    background-image: url(../img/sidebar-bg.png);
}

.my-side-color-2{
    background-color: #3770E0;
}

.my-side-color-3{
    background-color: #F7F7F7;
}


.btn-back-ground{
    background-color: #2C5AB4;
}
.ms-test{
    background-color: rgba(255, 0, 0, 0.5);
}

.ms-test-2{
    background-color: rgba(0, 0, 255, 0.7);
}

.ms-height{
    height: 100px;
}

.ms-width{
    width: 188px;
}

.ms-height-wh{
    height:calc(100vh - 70px ) ;
}

.ms-height-100{
    height: 100%;
}

.my-img{
    width: 40px;
}

/* Restyling */

.side-bar{
    width: 190px;
}
.main-content{
    width: calc(100vw - 190px);
}
.my-logo-small{
    width: 30px;
}

.offcanvas.offcanvas-end{
    width: 50%;
}
.options:hover{
    text-decoration: underline 2px white;
}
.hov-dec:hover{
    text-decoration: underline 2px gray;
}

@media  screen and (max-width:576px) {
    
}



@media  screen and (max-width:992px) {
    .side-bar{
        width: 68px;
    }
    .options{
        display: none;
    }

    /* parte del main */

    .main-content{
        width: calc(100vw - 68px);
    }

    .offcanvas.offcanvas-end{
        width: 100%;
    }
}

