.my-bg-grey{
    background-color: #E5E5E5;
}

.my-side-color{
    background-color: #0B1D32;
}

.my-side-color-2{
    background-color: #3770E0;
}

.my-side-color-3{
    background-color: #F7F7F7;
}


.btn-back-ground{
    background-color: #2C5AB4;
}
.ms-test{
    background-color: rgba(255, 0, 0, 0.5);
}

.ms-test-2{
    background-color: rgba(0, 0, 255, 0.7);
}

.ms-height{
    height: 100px;
}

.ms-width{
    width: 188px;
}

.ms-height-wh{
    height:calc(100vh - 70px ) ;
}

.ms-height-100{
    height: 100%;
}

.my-img{
    width: 30px;
}

/* Restyling */

.side-bar{
    width: 190px;
}
.main-content{
    width: calc(100vw - 190px);
}

@media  screen and(min-width:992px) {
    
}